*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}

header {
	display: flex;					/*flexボックスを使う指定*/
	align-items: center;			/*垂直揃えの指定。天地中央に配置されるように。*/
    width: 100%;
    height: 100px;
	background-color: #3E3B3B;
    position: relative;
}

.Logo{
    margin-left: 3%;
    color: white;
    font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', sans-serif;
    font-size: 45px;
}

.page_changer{
    display: flex;				
	align-items: center;
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.changer_font{
    color: white;
    margin: 10px;
    font-size: 20px;
}

.connect_font{
    color: white;
    font-size: 20px;
}

.connect_container{
    position: absolute;
    right: 30px;
    width: 180px;
    height: 55px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns_pic{
    width: 38px;
    height: auto;
    margin: 2px;
}

.sns_container{
    margin-top: 10px;
    position: absolute;
    right: 240px;
}

.hero_section{
    background-color: #ECECE7;
    width: 100%;
    height: 700px;
    position: relative;
}

.monitor_container{
    background-color: #E9EFCF;
    width: 730px;
    height: 450px;
    margin-left: 200px;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    border-radius: 25px;
}

.background{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
}