*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}

header {
	display: flex;					/*flexボックスを使う指定*/
	align-items: center;			/*垂直揃えの指定。天地中央に配置されるように。*/
	border-radius: 10px;			/*角を丸くする指定*/
	padding: 0 30px;				/*ヘッダー内の余白。上下、左右への順番。*/
	height: 70px;					/*ヘッダーの高さ*/
	position: fixed;				/*スクロールしても動かないようにする指定。*/
	z-index: 10;						/*スクロール中、コンテンツの上になるように*/
	margin: 30px;					/*headerの外側にとるスペース*/
	width: calc(100% - 60px);		/*pxの値は、上のmargin(両サイドなので２倍)を合計した数字です。*/
	box-shadow: 5px 5px 15px rgba(0,0,0,0.15);	/*ボックスの影。右へ、下へ、ぼかし幅。0,0,0は黒のことで0.15は色が15%出た状態。*/
	background: linear-gradient(#fff, rgba(255,255,255,0.7));	/*背景グラデーション。255,255,255は白のことで0.7は色が70%出た状態。*/
}
